page-home {

    ion-card{
        margin: 0!important;
        width:100%!important;
    }
    .fab{
        background-color: transparent!important;
        color: red;
        border:0;
       
     box-shadow: unset;
     height: 33px;
    }

    .item-md ion-thumbnail ion-img, .item-md ion-thumbnail img {
        width: 140px;
        height: 135px;
    }
    .woocommerce-Price-amount {
        font-weight: bold;
        font-size: 15px;
    }
    .item-md h2{
        text-align:center;
        font-size: 10px;
       
        color:#111;
    }
}
