page-product-details {
    .card-title-md{
        text-align:left;
        margin: 5px;
    }

    .fab{
        background-color: transparent!important;
        color: red;
        border:0;
       
     box-shadow: unset;
     height: 33px;
    }

}
